.about-section {
  svg {
    width: 30px;
    height: 25px;
  }
  .img-box {
    border-radius: 10px;
    border: 2px solid wheat;
    padding: 15px;
  }
  .about-img {
    width: 700px;
  }
  h1 {
    font-size: 45px;
  }
}
