.video-container {
  position: relative;
  background-color: black;
  height: 40vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  hr {
    border: 3px solid #ffba00;
    width: 200px;
  }
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .container {
    position: relative;
    z-index: 1;
    border: 2px solid wheat;
    border-radius: 5px;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }

  .player {
    background: none;
    width: 50px;
    height: 50px;
    border: solid 5px #fff;
    border-radius: 100%;
    position: relative;
    text-indent: -9999px;
    box-shadow: 1px 1px 3px #999999;
  }

  .player span {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 20px solid #fff;
    border-bottom: 15px solid transparent;
    position: absolute;
    top: 20%;
    left: 36%;
  }

  .player:hover {
    background: #4ccaea;
    cursor: pointer;
    opacity: 0.8;
    border: none;
  }

  .player:hover span {
    top: 25%;
    left: 38%;
  }
}
